{{> header}}

			<div class="content" role="main">
				<h1 class="title">Artists</h1>

				    <p>
					Artists were asked to provide a short description of their plans. Read
					on for each individual artist.
					</p>
						
					<details id="expand-all">
						<summary>toggle all artists</summary>
					</details>

				<!-- begin templating -->
				
				{{#if error}}
					<p class="error">{{error}}</p>
				{{else}}
				{{#if artists}}
					<div class="artist-grid" id="artist-grid">
						{{#each artists as | artist |}}
							<div class="artist">
								<img src="{{artist.picture.0.url}}" alt="{{artist.altText}}" height="250" width="250" />
								<details>
									<summary>{{artist.name}}</summary>
									<p>{{artist.blurb}}</p>
									<div class="social_grid"></div>
								</details>
							</div>
						{{/each}}
					</div>
				
				{{else}}
				<div>
					<p>Uh-oh, it looks like we're having problems!</p>
				</div>
				{{/if}}
				{{/if}}
					
				<!-- end templating -->
			</div>

			{{> footer}}
		</div>
	</body>
</html>