<!DOCTYPE html>
<html lang="en">

<head>

<!-- 
This is the main Handlebars template for the site 
- When the user visits the homepage or submits a choice the app calls the endpoints in server.js
- The server script passes data in here and the Handlebars code builds it into the HTML page
-->

<meta charset="utf-8" />
<link rel="icon" href="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{seo.title}}</title>

<!-- Meta tags for SEO and social sharing -->
<link rel="canonical" href="{{seo.url}}">
<meta name="description" content="{{seo.description}}">
<meta property="og:title" content="{{seo.title}}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{seo.url}}">
<meta property="og:description" content="{{seo.description}}">
<meta property="og:image" content="{{seo.image}}">
<meta name="twitter:card" content="summary">

<!-- Import the webpage's stylesheet -->
<link rel="stylesheet" href="https://rescue-trans-rescue.glitch.me/main.css" />
<link rel="stylesheet" href="https://rescue-trans-rescue.glitch.me/details.css" />

<script type="text/javascript"></script>

</head>

<body>
  <div class="wrapper">
	<div class="content" role="main">

	  <!-- This is the start of content for our page -->
	  <h1>Hello Airtable!</h1>
	  <p>
		A poll built with Chart.js and powered by Node.js with an {{seo.db}} database.
	  </p>
	  {{#if error}}
	  <p class="error">
		{{error}}
	  </p>
	  
	  {{else}}
	  <!-- Server returns a flag when the user has submitted a choice - we show the results -->
	  
	  {{#if results}}
	  <h2>
		Results
	  </h2>
	  <div class="poll-results">
		<p>
		  Submissions so far (see the <a href="/logs">Admin</a> page for a log):
		</p>
		<p>
		  <!-- Pass arrays from the API to the chart script in page head -->
		  <canvas id="myChart"></canvas>
		  <script type="text/javascript">
			showChart("{{{ optionNames }}}".split(","), "{{{ optionCounts }}}".split(","));
		  </script>
		</p>
		<!-- If the user hasn't already made a choice we show the poll -->
	  </div>
	  
	  {{else}}
	  <h2>
		Poll
	  </h2>
	  
	  <div class="poll-form">
		{{#if optionNames}}
		<p>
		  What do you like coding most?
		</p>
		
		<!-- Call the server post endpoint when the user submits an option in the poll -->
		<form method="post" action="/">
		  <!-- The server script returns the list of language options to offer in the poll -->
		  {{#each optionNames}}
		  <input type="radio" id="{{this}}" name="language" value="{{this}}" required />
		  <label for="{{this}}">{{this}}</label>
		  {{/each}}
		  <br /><br />
		  <button type="submit">
			Submit
		  </button>
		</form>
		<!-- ADD LINK FROM TODO -->
		
		{{else}}
		<div class="setup-instructions">
		  <div class="setup-column">
			<canvas id="myChart" class="setup"></canvas>
			  <script type="text/javascript">
				showChart(["Finish","Setup","README.md"], [1,2,3]);
			  </script>
			</div>
			<div class="setup-column">
			  <p>
				It looks like there's a little setup needed. If this is a new remix, 
				check the <strong>README.md</strong> file in the Glitch editor for more
				instructions and next steps. 
			  </p>
			  <p>
				You'll be up and running in about five minutes!
			  </p>
			</div>
		  </div>
		{{/if}}
	  </div>
	  {{/if}}
	  {{/if}}


	</div>
  </div>










  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
	<div class="links"></div>
	<a href="/">Home</a>
	<span class="divider">|</span>
	<a href="/logs">Admin</a>
	<a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/glitch-hello-airtable">
	  <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
		alt="" />
	  Remix on Glitch
	</a>
  </footer>
</body>

</html>
