<!DOCTYPE html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="https://glitch.com/favicon.ico">

		<title>{{seo.title}}</title>

		<!-- The website stylesheet -->
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/details.css" />  

		<!-- The website JavaScript file -->
		<script src="/scripts/nav.js" defer=""></script>
		<script src="/scripts/details.js" defer=""></script>

		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/884dded219.js" crossorigin="anonymous"></script>

		<!-- Meta tags for SEO and social sharing -->
		<link rel="canonical" href="{{seo.url}}">
		<meta name="description" content="{{seo.description}}">
		<meta property="og:title" content="{{seo.title}}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{seo.url}}">
		<meta property="og:description" content="{{seo.description}}">
		<meta property="og:image" content="{{seo.image}}">
		<meta name="twitter:card" content="summary">
	</head>
	<body class="dark">
		<div class="wrapper">
			<nav id="top-nav" style="justify-content: flex-end;"><button class="nav-item" id="alignment" title="toggle left/right navbar alignment"><i class="fa-regular fa-hand-point-left" aria-hidden="true"></i></button>
				<a class="nav-item" href="/artists">artists</a>
				<a class="nav-item" href="/signup">signup</a>
						
			<button class="nav-item" id="theme" title="toggle light/dark mode"><i class="fa-regular fa-sun" aria-hidden="true"></i></button></nav>

			<div class="wip">
				<p>
					This is the <b>development site!</b>
				</p>
			</div>

			<div class="content" role="main">
				<h1 class="title">Rescue Trans Rescue</h1>
				<img src="https://i0.wp.com/transrescue.org/wp-content/uploads/2022/03/logoonblk200.png" class="illustration" alt="Logo of Trans Rescue, which looks like a stylized helicopter flying through a pink and blue ring. Text underneath says Trans Rescue.">
				<div>
					<h2>About Trans Rescue</h2>
					<blockquote>
						<p>
							We help trans*, intersex, and other people flee places where it is
							dangerous to be trans.
						</p>
						<p>
							We help them reach places of safety and reasonable quality of
							life.
						</p>
						<p>We do so legally and securely.</p>
					</blockquote>
					<p>- <a href="https://transrescue.org/">Trans Rescue</a></p>
					<p>and</p>
					<blockquote>
						<p>
							We are facing a real shortage. We need 400 EUR more than we have
							to keep all the balls in the air. For any organization this would
							be serious. For us it's a matter of who becomes homeless in a
							dangerous country.
						</p>
						<p>We need help today. Please.</p>
					</blockquote>
					<p>
						-
						<a href="https://mastodon.social/@trans_rescue/112898899176079622">@trans_rescue@mastodon.social</a>
					</p>
					<h2>The Exhibit</h2>
					<p>
						It will be an online art sale and fundraiser. There will be a method
						of signing up for TR’s email list and a method for direct donation
						as well as sales.
					</p>
					<h2>FAQs</h2>
					<details id="expand-all">
						<summary>toggle all FAQs</summary>
					</details>
					<!-- Who are the artists? -->
					<details>
						<summary>Who are the artists?</summary>
						<p>
							Trans and gender expansive/diverse people who wish to help. If you
							are unsure whether this includes you: it does.
						</p>
					</details>
					<!-- What type of art? -->
					<details>
						<summary>What type of art?</summary>
						<p>
							All mediums. Content restrictions may be imposed at Trans Rescue’s
							discretion (will talk to them about this). Physical and digital
							are both allowed (digital will be displayed in the exhibit with a
							watermark). Art can range from “fine art” to “craft” to “merch” as
							long as it is your artistic creation. Let your definition of art
							be as expansive as your definition of trans.
						</p>
						<p>
							At current, our plan is to use
							<a href="https://ko-fi.com/">Ko-fi</a> as our shop platform. This
							comes with
							<a href="https://help.ko-fi.com/hc/en-us/articles/360007937553-Ko-fi-Content-Guidelines">content restrictions</a>
							artists should be aware of.
						</p>
						<p>
							Special focus on a planned collaborative sticker sheet as a major
							small-dollar item. Ideally <i>all</i> artists contribute to this
							and it includes the TR logo.
						</p>
						<p>AI/LLM "art" is not permitted.</p>
						<details>
							<summary>Can I offer one of my commission slots?</summary>
							<p>
								<i>
									[Note: I use the term “commission” heavily when discussing
									pricing schema later on this page. Understand that a
									“commission slot” is distinct from the artist’s “commission
									rate” in the pricing schema.]
								</i>
							</p>
							<p>
								Art must be able to be paid in full up front, and artists should
								feel confident in their ability to deliver on what they promise.
								If you’re comfortable with those boundaries, you may offer a
								commission or otherwise buyer-customizable piece of art.
								Customization can be something simple that requires a single
								text field question (in which case it will be worked into the
								platform and the answer provided to you on purchase), or it may
								be complex enough to require that you get in touch with the
								buyer after purchase.
							</p>
							<p>
								I encourage you to set strict guidelines that allow you to set a
								firm price up front that you’re confident in; the fundraiser is
								not responsible for following through with buyers if you later
								feel you need more funds to deliver.
							</p>
						</details>
						<details>
							<summary>
								Can I use pre-existing material as part of my art?
							</summary>
							<p>
								Of course. You may collage, knit a hat from yarn you didn't
								spin, paint with pigments you didn't crush yourself, etc.
							</p>
						</details>
					</details>
					<!-- Must it be created for this exhibit? -->
					<details>
						<summary>Must it be created for this exhibit?</summary>
						<p>
							No, but it’s preferred that it is. If we have so many submissions
							such as to make this logistically perilous and I have to impose
							submission limits, reused existing work may be cut. However, I
							don’t currently expect to reach those limits.
						</p>
					</details>
					<!-- Is there a theme? -->
					<details>
						<summary>Is there a theme?</summary>
						<p>From TR:</p>
						<blockquote>
							<p>
								We help people escape. That’s something that appeals outside the
								trans community. I just got off a call with a guy who had never
								met a trans person before. He thought what we were doing was so
								cool he’s volunteering with us. Freedom, escape, rebirth,
								slavery, captivity, ...
							</p>
						</blockquote>
						<p>Basically, be inspired by what TR does :)</p>
					</details>
					<!-- Can I collaborate with another artist? -->
					<details>
						<summary>Can I collaborate with another artist?</summary>
						<p>
							Sure, but only one of you is responsible for being the “point”
							person for any one piece of art. This is to keep my signup forms
							and email lists straightforward.
						</p>
						<p>
							Obviously, credit all artists who participate in creating a piece.
						</p>
					</details>
					<!-- How many works per artist? -->
					<details>
						<summary>How many works per artist?</summary>
						<p>one of:</p>
						<ul>
							<li>
								1 original work (this may mean a single item, or for something
								like a print, it may mean a set of similar items) that
								<b>can</b> be digitally included on the sticker sheet as well as
								sold on its own.
							</li>
							<li>
								1 original work (single item or set of prints etc) that
								<b>cannot</b> be included on the sticker sheet <b>plus</b> 1
								small digital design for sticker sheet inclusion.
							</li>
							<li>
								1 small digital design for sticker sheet inclusion only.
								However, be aware (as you read the next question) that
								<b>I am not able to set artist commission rates on sales of the
									sticker sheets, only individual artistic creations</b>. The sticker sheets will be too collaborative to realistically
								apply all artists’ commissions in a meaningful way.
							</li>
						</ul>
						<p>
							I want to expand on the “single item or set” thing - this lets
							different types of crafts shine differently and allows us to price
							things reasonably and at many price points. It also means not
							everything will be one-and-gone!
						</p>
					</details>
					<!-- How is pricing determined? Are artists paid? -->
					<details>
						<summary>How is pricing determined? Are artists paid?</summary>
						<p>For an original work, artists set the following:</p>
						<ol>
							<li><b>Inventory:</b> number of pieces of the work</li>
							<li><b>Base price:</b> starting price of the work</li>
							<li>
								<b>Commission:</b> % of the base price they would like to take
								home, up to 50% inclusive
							</li>
							<li><b>Shipping:</b> shipping fees broken out by continent</li>
						</ol>
						<p>
							Artists will therefore at a minimum take home (Base price *
							Commission + Shipping) * Inventory units sold. This gives them the
							ability to ensure they are paid what they consider adequate for
							charity work.
						</p>
						<p>
							For any item in the exhibit, a buyer may choose to pay beyond base
							price. The artist’s commission will be applied to this as well.
						</p>
						<p>Here's why:</p>
						<p>
							Anyone is able to make a donation to the fundraiser without buying
							art. By buying art and paying additional, the buyer credits the
							artist as well as the fundraiser, and this should be reflected
							financially.
						</p>
						<p>Let’s further elucidate this pricing schema with examples.</p>
						<p>
							(Also, look, there will technically be little nickel-and-dime
							platform fees that chip in to the math here. I’m... not doing that
							yet, please.)
						</p>
						<details>
							<summary>Alyx</summary>
							<p>
								Alyx creates a painting. Xe decides that xe would like to recoup
								materials cost and donate labor. Xe sets xyr inventory at 1,
								base price at $100, commission at 15%, and shipping at $20
								(there will be regional categories for shipping. it’s not
								relevant here so ignore it).
							</p>
							<p>
								Alyx’s painting might be bought for its base price + shipping
								($120) in which case xe would get $100 * .15 + $20 = $35. Or
								maybe xyr painting is bought for a bit above its base price,
								$130 + $20 shipping = $150. In this case, Alyx would get $130 *
								.15 + $20 = $39.50.
							</p>
							<p>(In these cases, TR makes $85 and $110.50 respectively.)</p>
						</details>
						<details>
							<summary>Babs</summary>
							<p>
								Babs creates a series of tooled leather keychains. She can’t
								afford to donate much. She sets an inventory of 4, a base price
								of $20, a commission of 50%, and a shipping price of $10.
							</p>
							<p>
								If all of Babs’ keychains sell, she will be compensated, at a
								minimum, ($20 * .50 + $10) * 4 = $80, half of which covers
								shipping and half of which is commission. If some of her
								keychains sell for elevated prices — let’s say they sell for
								$25, $40, $20, and $30 — she will be compensated, forgive my
								ad-hoc math notation but hopefully it gets the point across
								without being exhaustingly long... sum of ([$25, $40, $20, $30]
								* .50 + $10) = $97.50, $40 of which is shipping.
							</p>
							<p>(In these cases, TR makes $40 and $57.50 respectively.)</p>
							<p>
								(Also, if any keychains don’t sell, Babs retains the keychain
								and can resell to anyone she desires.)
							</p>
						</details>
						<details>
							<summary>Coral</summary>
							<p>
								Coral creates a phone wallpaper with their digital art skills.
								They don’t care if they receive anything for this, and they want
								their item to be accessible and for everyone. They set their
								inventory at 50, their base price at $5, their commission at 0%,
								and their shipping at $0 (digital purchase).
							</p>
							<p>
								Regardless of how many sell, Coral doesn’t get anything but
								satisfaction of helping. (And exposure, but like, don’t work for
								exposure kids.)
							</p>
							<p>(In this case, TR gets $5 * # sold.)</p>
							<p>
								(Coral retains the rights to their digital art and can continue
								to resell and reproduce it after the exhibit — this goes for
								physical reproducible art as well).
							</p>
						</details>
					</details>
					<!-- How is fulfillment handled -->
					<details>
						<summary>How is fulfillment handled?</summary>
						<p>
							Individual artists are responsible for their work’s fulfillment.
							After an order, relevant buyer details (address/phone/email, or
							just email for digital) will be forwarded to the relevant
							artist(s).
						</p>
						<p>
							Yes, this means if you buy items from multiple artists you will
							pay multiple shipping fees. That’s just the way it’s gonna be. I
							don’t want all of this stuff in my living room.
						</p>
						<p>
							Missing or damaged items will be dealt with case-by-case with best
							effort, but this is a fundraiser so do be kind about it. Let’s
							hope we don’t see much of that.
						</p>
						<p>Returns are not a thing.</p>
						<details>
							<summary>
								If shipping is per-item, why bother having it listed as
								shipping? Just bundle it.
							</summary>
							<p>
								Clarity of information. Helps you understand where your money’s
								going. Also, I want to encourage artists to actively plan for
								all shipping eventualities and think through what they want to
								offer.
							</p>
						</details>
					</details>
					<!-- What's the timeline? -->
					<details>
						<summary>What's the timeline?</summary>
						<p>
							Our opening dates are Sep 15th, Oct 15th, and Nov 15th of 2024.
							Artists will pick an opening date on sign-up. The show closes Dec
							15th, 2024.
						</p>
						<details>
							<summary>Why 3 opening dates?</summary>
							<p>
								3 opening dates allows variable time for artists to prepare.
								Artists may choose the opening date that best works for them
								with the understanding that a later deadline leaves them less
								exhibition time and therefore less chance to sell.
							</p>
						</details>
					</details>
					<!-- I want to be part of this... -->
					<details>
						<summary>I want to be part of this!</summary>
						<p>
							First,
							<a href="/signup">sign up as an artist or supporter</a>
						</p>

						<p>
							After that, here’s some potential actions, ranging in skills
							required, level of effort, and level of interaction with me.
						</p>
						<ul>
							<li>
								Follow the hashtag #rescueTransRescue on your favorite platform:
								<ul>
									<li>
										<a href="https://strangeobject.space/tags/rescueTransRescue" title="#rescueTransRescue on the fediverse"><i aria-hidden="true" class="fa-brands fa-mastodon"></i>
											fedi</a>
									</li>
								</ul>
							</li>
							<li>Boost posts or write your own - don't forget to tag!</li>
							<li>Tell your friends</li>
							<li>Work with TR and I to design promotional material</li>
							<li>Work with me and our artists to lay out sticker sheets</li>
							<li>
								Work with me to help support artists and buyers who have
								questions over email and fedi
							</li>
						</ul>
						<p>
							Reach out to me via any of the methods on
							<a href="https://leecat.art/contact">my contact page</a>.
						</p>
					</details>
					<!-- I signed up! Why am I not on the artist page? -->
					<details>
						<summary>I signed up! Why am I not on the artist page?</summary>
						<p>
							At current, the artist page is manually updated, not
							automatically. I just haven't seen your signup yet :)
						</p>
						<p>
							If you want to confirm that you've signed up (as an artist), check
							your email for the subject line "You’ve signed up for
							#rescueTransRescue".
						</p>
					</details>
				</div>
			</div>
		</div>
		
		<!-- Contents auto-generated by nav.js -->    
		<footer id="footer">
	<p>
		Created by <a href="https://leecat.art">Lee Cattarin</a> with help from
	</p>
	<ul>
		<li>
			<a href="https://linktr.ee/lenny_wonders">Lenny Wondra</a> (CSS and
			accessibility)
		</li>
		<li><a href="https://jaygrant.dev">Mx. Jay Grant</a> (web design)</li>
		<li>
			<a href="https://github.com/Joll59">Yomi Lajide</a> (responsive
			design)
		</li>
		<li>
			<a href="https://kolektiva.social/@LinsCollective">Lins&amp;</a> (planning
			and support)
		</li>
		<li>
			<a href="https://socialgaff.whirling.top">Liam Woodard</a> (site
			testing)
		</li>
		<li>and all our wonderful <a href="/artists">artists</a></li>
	</ul>
	<p>
		Got site feedback?
		<a href="mailto:lee.cattarin@gmail.com?subject=rTR feedback">Reach out!</a>
	</p>
</footer>

</body>